.search-bar-container {
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 0 15px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.9); /* Translucent white background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    position: relative;
  }
  
  .search-icon, .clear-icon, .microphone-icon, .google-icon {
    font-size: 18px;
    color: #5f6368;
    cursor: pointer;
    margin: 0 8px;
  }
  
  .search-icon {
    margin-left: 10px;
    color: #5f6368; /* Set the color to gray */

  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    background: transparent;
  }
  
  .search-input::placeholder {
    color: #5f6368;
  }
  
  .clear-icon {
    margin-right: 8px;
  }
  
  .microphone-icon {
    margin-right: 4px;
  }
  
  .google-icon {
    margin-right: 10px;
  }
  
  .background-container {
    background-image: url('../../../assets/images/busqueda3.jpg');
    background-size: cover; /* O prueba con contain */
    background-position: center center;
    height: 40vh; /* Mantén la altura relativa a la ventana */
    width: 75%; /* Se ajustará al 100% del contenedor */
    max-width: 100vw; /* Asegura que no se sobrepase el ancho máximo de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 22px;

  }
  

  .divTransparenteBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;

  }