.container_general_loginn{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url('../../assets/images/fondologin.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 

}
.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;     

    margin: auto;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    width: 100px !important;
  }
  
  .submit-button {
    width: 100px !important;
  }

.MuiBox-root.css-binzgt {
    margin-top: 0px !important; 

    max-width: 400px !important;
}

.MuiContainer-root.MuiContainer-maxWidthLg.form-container.css-1oqqzyl-MuiContainer-root {
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 20px 0 !important; 

    max-width: 460px !important;
  }
  
.login-container {
    display: flex;
    justify-content: center; 
    align-items: center;   

    max-width: 200px !important; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
  }

  @media (min-width: 1200px) {
    .css-1qsxih2 {
        max-width: 400px !important;
    }
  }

  @media (min-width: 600px) {
    .css-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 400px !important;

    }
}

.css-1qsxih2 {
  max-width: 400px !important;

}